<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="http://img.taste.com.au/y8jXxTFh/taste/2016/11/singapore-noodles-29479-1.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Fried Noodles</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="https://wherethewildfernggrows.files.wordpress.com/2013/11/slfood-50.jpg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>String Hoppers</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="http://img.taste.com.au/y8jXxTFh/taste/2016/11/singapore-noodles-29479-1.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Rice and Curry</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="http://img.taste.com.au/y8jXxTFh/taste/2016/11/singapore-noodles-29479-1.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Fried Noodles</b>
                </p>
            </div>
        </a>
    </div>
</div>