<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/lunch/Barbecued pork fried rice.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Barbecued pork fried rice</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/lunch/Chicken and basil fried rice.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Chicken and basil fried rice</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/lunch/Fragrant butter rice.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Fragrant butter rice</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/lunch/Fragrant butter rice.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Fragrant butter rice</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/lunch/Kimchi fried rice with bacon and eggs.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Kimchi fried rice with bacon and eggs</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/lunch/Nasi goreng.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Nasi goreng</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/lunch/Pork nasi goreng.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Pork nasi goreng</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/lunch/prawn and egg fried rice.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>prawn and egg fried rice</b>
                </p>
            </div>
        </a>
    </div>
</div>>