<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/desserts/Blueberry and chia pancakes.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Blueberry and chia pancakes</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/desserts/Banana and caramel ice-cream tarts.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Banana and caramel ice-cream tarts</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/desserts/Cheat's strawberry bavarois.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Cheat's strawberry bavarois</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/desserts/Ice cream brownie with fudge sauce.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Ice cream brownie with fudge sauce</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/desserts/Rainbow ice-cream.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Rainbow ice-cream</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/desserts/raspberry blondies.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>raspberry blondies</b>
                </p>
            </div>
        </a>
    </div>
</div>