<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/Dinner/Chicken dippers.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Chicken dippers</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/Dinner/Fish and chips.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Fish and chips</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/Dinner/Fish tagine.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Fish tagine</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/Dinner/Portuguese chicken.jpg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Portuguese chicken</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/Dinner/Prosperity salad.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Prosperity salad</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/Dinner/Summer fruits with chocolate sauce.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Summer fruits with chocolate sauce</b>
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a  class="card clickable">
            <div class="card-img">
                <img src="./assets/images/Dinner/Summer fruits with malibu sabayon.jpeg" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                    <b>Summer fruits with malibu sabayon</b>
                </p>
            </div>
        </a>
    </div>
</div>