<form class="form" [formGroup]="reserveForm" (ngSubmit)="ngOnInit()">
    <section class="form-block">
        <label>Reserve Table</label>
        <div class="form-group">
            <label for="formFields_1">User Name</label>
            <input type="text" id="formFields_1" placeholder="User Name" size="35" disabled>
        </div>
        <div class="form-group">
            <label for="formFields_2">Email</label>
            <label for="Email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md"[class.invalid]="reserveForm.get('Email').invalid
            && (reserveForm.get('Email').dirty || reserveForm.get('Email').touched)">
            <input type="text" id="formFields_2" placeholder="Email" formControlName="Email" size="35">
            <span class="tooltip-content">
                Invalid Email Format use eg:example@eg.com.
            </span>
            </label>
        </div>
        <div class="form-group">
            <label for="formFields_3">Name</label>
            <label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md"[class.invalid]="reserveForm.get('name').invalid
            && (reserveForm.get('name').dirty || reserveForm.get('name').touched)">
              <input type="text" id="formFields_1" placeholder="Name" formControlName="name" size="35">
              <span class="tooltip-content">
                  Name cannot be empty.
              </span>
            </label>
        </div>
        <div class="form-group">
            <label for="formFields_4">Contact Number</label>
            <label for="phone" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md"[class.invalid]="reserveForm.get('phone').invalid
            && (reserveForm.get('phone').dirty || reserveForm.get('phone').touched)">
              <input type="text" id="formFields_1" placeholder="Contact Number" formControlName="phone"  size="35">
              <span class="tooltip-content">
                  Contact number should be between 10 Digits.
              </span>
            </label>
        </div>
        <div class="form-group">
            <label for="formFields_11">Date</label>
            <label for="phone" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md"[class.invalid]="reserveForm.get('dateBook').invalid
            && (reserveForm.get('dateBook').dirty || reserveForm.get('dateBook').touched)">
            <input type="date" id="formFields_11" formControlName="dateBook" size="45">
            <span class="tooltip-content">
                Date should not be previous Date
            </span>
          </label>
        </div>
        <div class="form-group">
            <label for="formFields_11">Start Time</label>
            <label for="startTime" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md"[class.invalid]="reserveForm.get('startTime').invalid
            && (reserveForm.get('startTime').dirty || reserveForm.get('startTime').touched)">
            <input type="datetime-local" id="formFields_12" formControlName="startTime" size="35">
            <span class="tooltip-content">
                Time should be between 10:00 to 20:00 
            </span>
          </label>
        </div>
        <div class="form-group">
            <label for="formFields_12">End Time</label>
            <label for="endTime" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md"[class.invalid]="reserveForm.get('endTime').invalid
            && (reserveForm.get('endTime').dirty || reserveForm.get('endTime').touched)">
            <input type="time" id="formFields_12" formControlName="endTime" size="35">
            <span class="tooltip-content">
                Time should be between 10:00 to 20:00 and greater than start time 
            </span>
          </label>
        </div>
        <div class="form-group">
            <label for="formFields_8">Comments</label>
            <textarea id="formFields_8" rows="5" formControlName="comments"></textarea>
        </div>
        <button class="btn btn-primary">Reserve</button>
    </section>
</form>

<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">{{title}}</h3>
    <div class="modal-body">
        <p>{{description}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onsubmit()">Ok</button>
    </div>
</clr-modal>