.imageposition{
    position: absolute;
    right: 0;
}
.dropbtn {
    background-color: rgb(5, 129, 201);
    color: white;
    padding: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.thicker {
    font-weight: 900;
    color: rgb(255, 0, 0);
}