<figure>
  <img alt='A Taste of the Kitchen' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/first-course.jpg'>
  <figcaption>
    <h3>A Taste of the Kitchen</h3>
    <span class='tag'>Served Family Style</span>
    <p>Possimus deserunt nisi perferendis, consequuntur odio et aperiam, est, dicta dolor itaque sunt laborum, magni qui optio.</p>
    <div class='rating'>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
    </div>
  </figcaption>
</figure>
<br><br>
<figure>
  <img alt='Rustic Reds' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/second-course.jpg'>
  <figcaption>
    <h3>Rustic Reds</h3>
    <span class='tag'>From the land of Italy</span>
    <p>Totam at eius excepturi deleniti sed, error repellat itaque omnis maiores tempora ratione dolor velit minus porro aspernatur
      repudiandae.</p>
    <div class='rating'>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star-o'></span>
      <span class='fa fa-star-o'></span>
    </div>
  </figcaption>
</figure>
<br><br>
<figure>
  <img alt='Delicious Desserts' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/third-course.jpg'>
  <figcaption>
    <h3>Delicious Desserts</h3>
    <span class='tag'>Seasonal Ingredients</span>
    <p>Vel nam odio dolorem, voluptas sequi minus quo tempore, animi est quia earum maxime. Reiciendis quae repellat, modi non,
      veniam.</p>
    <div class='rating'>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star-o'></span>
    </div>
  </figcaption>
</figure>