<figure>
  <img alt='A Taste of the Kitchen' src='./assets/images/home/first-course.jpg'>
  <figcaption>
    <h3>A Taste of the Kitchen</h3>
    <span class='tag'>Served Family Style</span>
    <p>Sharing meals with family and friends can bring people together, and remind us of old traditions. We can also build new traditions with food, and make friends by trying new things together. Food is also a good way to introduce people to a new culture.So grab your meal today</p>
  </figcaption>
</figure>
<br><br>
<figure>
  <img alt='Rustic Reds' src='./assets/images/home/second-course.jpg'>
  <figcaption>
    <h3>Rustic Reds</h3>
    <span class='tag'>From the land of Italy</span>
    <p> After meal try a Drink just then it will complete your meal try us now for great taste
    </p>
  </figcaption>
</figure>
<br><br>
<figure>
  <img alt='Delicious Desserts' src='./assets/images/home/third-course.jpg'>
  <figcaption>
    <h3>Delicious Desserts</h3>
    <span class='tag'>Seasonal Ingredients</span>
    <p>when we talking about desserts  we serve the best you can make desserts as your wish so let us complete your meal then give us your feedbacks</p>
  </figcaption>
</figure>